version: '3'
services:
  influxdb:
    image: influxdb:1.8.5-alpine
    environment:
      - INFLUXDB_DB=energy
    ports:
      - "8086:8086"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
